.cis260specialgreen {
    color: #055f0f;
}

#cis-special-parent a {
    color: #efef15;

}

#content {
    color: goldenrod
}

h1 {
    font-weight: bolder;
}

p {
    font-family: fantasy
}

li {
    font-family: fantasy
}

h1 {

    font-family: fantasy
}

a {

    font-family: fantasy
}

header nav ul li {
    color: #055f0f
}
